#formulario, #boton, #final{
    margin: 50px;
    font-family: 'Mukta', sans-serif;
    
}

#marco{

    border: black 5px solid;

    background-color: #8494a4;
    margin: 50px;



}

